:root{
  --primary-color:#9C27B0;
  --dark-primary-color:#7B1FA2;
  --secondary-color:#FF5722;

  --ok-color:#47F517;

  --divided-color:#BDBDBD;

  --white-color:#fff;

  --text-color:#212121;
  --secondary-text-color:#757575;
}

*{
  box-sizing: border-box;
}

p{
  margin: 0 0 15px 0;
}
.App {
  font-family: 'Roboto';
  text-align: center;
  color: var(--text-color);
  background-color: var(--white-color);
  min-height: 100vh;
}

/* .App-logo {
  height: 60px;
  pointer-events: none;
}

.App-logo {
  animation: App-logo-spin infinite 12s ease-in-out;
} */

.btn{
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-primary{
  background-color:var(--primary-color);
  color:  var(--white-color);
  font-size: 1rem;
}
.btn-primary:hover,
.btn-primary:focus-within,
.btn-primary:active{
  background-color:var(--secondary-color);
  color:  var(--white-color);
}

.btn-secondary{
  background-color: var(--secondary-color);
  color:  var(--white-color);
  font-size: 1rem;
}
.btn-secondary:hover,
.btn-secondary:focus-within,
.btn-secondary:active{
  background-color:var(--primary-color);
  color:  var(--white-color);
}

.btn-ico{
  font-size: 1.5rem;
  padding: 1px 15px;
}

.logo{
  font-size: 60px;
  color: var(--secondary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
