:root{
  --green-color:#28a745;
  --red-color:red;
  --white-color:#fff;

  --text-color:#000;
}

*{
  box-sizing: border-box;
}


p{
  margin: 0 0 15px 0;
}
.App {
  text-align: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 100%);
  color: var(--white-color);
  min-height: 100vh;
}

.App-logo {
  height: 60px;
  pointer-events: none;
}

.App-logo {
  animation: App-logo-spin infinite 12s ease-in-out;
}

.App-header {
  /* background-color: #282c34; */
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer{
  padding: 60px 0;
}

.App-link {
  color: #61dafb;
}

.ToDo__wrapper{
  max-width: 600px;
  margin: 0 auto;
}

.form-control{
  border:none;
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 0.5rem;
}

.form-control:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

.btn{
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:focus{
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-primary{
  background-color:var(--green-color);
  color:  var(--white-color);
  font-size: 1rem;
}
.btn-secondary{
  background-color: var(--red-color);
  color:  var(--white-color);
  font-size: 1rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
